.agent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 600px;

  position: relative;

  filter: grayscale(1); /*tudo cinza*/
  transition: all 0.4s;


  &:hover{
    filter: grayscale(0);

    .text {
      opacity: 1;
    }

    .background {
      background: var(--black);
      span {
        background-size: 340%;
      }
    }
  }

  .text, .abilities{
    z-index: 2;
  }
}
.text {
  font-family: 'Druk', sans-serif;

  margin-top: 40px;
  margin-left: -10px;
  align-self: flex-start;
  writing-mode: vertical-rl;

  opacity: 0.5;
  transition: all 0.4s;

  p{
    color: var(--red);
    font-weight: normal;
    letter-spacing: 1px;
  }

  strong{
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;

    color: transparent;
    -webkit-text-stroke: 2px rgba(255,255,255, 0.8);
  }
}
.abilities{
  list-style: none;

  display: flex;
  align-items: center;
  column-gap: 20px;
  align-self: flex-end; //joga o própio elemento para o canto

  padding: 16px;
  border-radius: 2px;
  border: 1px solid var(--white);
  background: var(--black);
}
.background{
  position: absolute;
  inset: 0; /*top, left, right, bottom*/
  background-color: var(--black-opacity);
  border-radius: 10px;
  overflow: hidden;

  width: 90%;
  height: 90%;
  margin: auto;

  transition: all 0.4s;


  span{
    display: block;
    width: 100%;
    height: 100%;

    transition: all 0.4s;
    
    background-repeat: no-repeat;
    background-size: 290%;
    background-position: 45% 35%; /*45 pra esquerda e desce 35*/
  }
}